@import "tailwindcss";

@font-face {
    font-family: 'MoralerspaceArgon';
    src: url('./assets/fonts/MoralerspaceArgon-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MoralerspaceArgon', monospace;
    color: white;
}

@keyframes marquee {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(-50%); }
}

.animate-marquee {
    animation: marquee 30s steps(30) infinite;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.animate-fadein {
    animation: fadein 0.15s ease-out;
}
